export("rip_install")
export("generate_requirements")
export("rip_freeze")
export("rip_freeze_packrat")
importFrom("utils", "installed.packages", "packageVersion", "install.packages")
importFrom("utils", "tail")
importFrom("utils", "glob2rx")
