export("install_requirements")
export("generate_requirements")
importFrom("utils", "installed.packages", "packageVersion", "install.packages")
importFrom("utils", "tail")
importFrom("utils", "glob2rx")
